 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .gallery-container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.255);
 }

 .filters{
    width: 100vw;
    height:10vh ;
    background-color: rgba(0, 0, 0, 0.264);
    display: flex;
    justify-content: space-between;
 }
.web-title{
   width: 10vw;
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
}
 button{
   background-color: rgba(22, 10, 10, 0.244);
   color:white;
   padding: 20px 20px;
  
   border-radius: 10px;
  

 }

 .buttons{
   
   display: flex;
   justify-content: space-evenly;
   width: 20vw;
   padding: 10px;
 }

 .cards{
   display: flex;
   justify-content: space-evenly;
   height: 90vh;
   align-items: center;
 }

 .card-1, .card-2,.card-3{
   height: 38vh;
   width: 25vw;
   border: 1px solid black;
   border-radius: 10%;
 }

 @media (max-width:768px){
   .filters{
      height: 20vh;
      background-color: transparent;
      flex-direction: column;
   }
   .buttons{
      margin-left: 0%;
      width: 100%;
      flex-direction: column;
   }

   .web-title{
      width: 100vw;
      margin-top: 10px;
   }
 }